body {
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    margin: 0 auto;
    width: 1280px;
}
.container {
    
}
.main-header {
    width: 100%;
    min-height: 323px;
    background-color: #445162;
    display: flex;
    justify-content: space-around;
}
.main-header-wrapper {
    margin-left: -100px;
}
.main-title {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    padding: 0px 0px 0px 36px;
}
.main-list {
    font-family: ArialMT;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    list-style-type: none;
    
   

}
.main-list-item {
    padding: 0px 0px 0px 5px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: white;
    position: relative;
}
.main-list-item::before {
    content: " ";
    display: block;
    position: absolute;
    width: 25px;
    height: 19px;
    top: 6px;
    left: -29px;

    background-image:  url(img/check_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main-list-item: last-child{
    margin: 0;
}
.video-title {
    padding: 49px 0 0 0;
}
}
/* .img-header { 
    background-color:  #ffffff;
    width: 450px;
    height: 214px;
    margin-top: 50px;
} */
.main-header-photo {
    width: 469px;
    height: 214px;
}

.about-product-row{
    display: flex;
    box-sizing: border-box;
    
}
.about-product-body{
    justify-content: space-around;
    padding: 0px 180px 50px 50px;
}
.about-product-title{
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    
}
.about-product-text {
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    flex-wrap: wrap;

}
.img-about {
    margin: 30px 118px 0 0;
    width: 430px;
    height: 220px;
    background-color: #445161;
    /*margin-left: auto;*/
}

.dignity-title {
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin-bottom: 29px;
}
.dignity-list {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    box-sizing: border-box;
    padding: 0 0 50px 60px;
}
.dignity-list-item {
    width: 50%;
    position: relative;
    padding: 0 0 20px 0;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
   /* margin: 0 5px 0 0;*/
}

.dignity-list-item::before {
    content: " ";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: -13px;

    background-image: url(img/shape.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.columns-title{
    Text: Screenshots;
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
}
.columns-row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 0 50px 50px;
}

.item-columns {
    width: 50%;
}
.item-columns-body {
    width: 50%;
    float: right;
    padding: 0 90px 25px 0;

}
.item-columns-title {
    font-family: ArialMT;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 0 0;
}
.item-columns-text{
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 0 0 0 0;
    padding: 5px 0 0 0;
    
}
.reviews-title {
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
}
.item-reviews-text{
    font-family: ArialMT;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
}
.reviews-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 50px 50px;
}
.item-reviews{
    width: 50%;
    align-items: baseline;
}
.item-reviews-body {
    width: 80%;
    float: right;
    margin: -2px 20px 51px 27px;
}
.price-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    
}
.price-title {
    font-family: ArialMT;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin-bottom: 124px;
}

.price-item-standart{
    
    min-height: 306px;
    margin: 0 45px 0 0;
    border: 1px solid black;
    
}
.price-item-premium{
    
    min-height: 404px;
    margin: 0 45px 0 0;
    border: 1px solid black;
    
}
.price-item-lux{
    
    min-height: 499px;
    border: 1px solid black;
    a
}
.social-link {
    margin: 20px 20px 20px 20px;
    display: block;
    width: 260px;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    color: #445162;
    background-color: white;
    text-transform: uppercase;
    border-radius: 10px;
    /* outline: none; */
  }
  
  .social-link:hover {
    background-color: orange;
  }
  
  .social-link:focus {
      border: 5px solid red;
  }
  
  /*.social-link:active {
    background-color: bisque;
    color: black;
  }*/

  .card{
    width: 300px;
    align-self: flex-end;
    background-color: #445162;
    box-sizing: border-box;
   
  }
  .text{
    font-family: ArialMT;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
  }
  .title{
    font-family: ArialMT;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
  }
  .price-price{
    color: #445162;
    background-color: white;
    text-align: center;
    /*width: 300px;*/
    min-height: 71px;
    font-family: ArialMT;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    padding: 36px 0 0 0;
     
  }
  .footer-form{
      background-color: #445162;
      box-sizing: border-box;
  }
  .footer-title-contacts {
     padding: 53px 0 31px 0;
  }
  .footer-title{
      text-align: center;
      font-family: ArialMT;
      font-family: ArialMT;
      font-size: 30px;
      line-height: 36px;
      font-weight: 400;
      color: #ffffff;

  }
  .footer-form-send {
      display: flex;
      justify-content: space-around;
      padding: 0 0 49px 0;
  }
  .footer-list{
      list-style-type: none;
      margin: 0 0 0 -408px;
  }

  .footer-list-item-skype{
        font-family: ArialMT;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        position: relative;
        /*text-decoration: none;*/
}

.a-footer {
    text-decoration: none;
    color: #ffffff;
    
}
.a-footer:active {
    color: yellowgreen;
}
.footer-list-item-skype::before {
    content: " ";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: -13px;

    background-image: url(img/skype_icon_319.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-list-item-icq {
    font-family: ArialMT;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        position: relative;
}
.footer-list-item-icq::before {
    content: " ";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: -13px;

    background-image: url(img/icq_icon_324.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-list-item-mail {
    font-family: ArialMT;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        position: relative;
}
.footer-list-item-mail::before {
    content: " ";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: -13px;

    background-image: url(img/email_icon_332.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-list-item-cell {
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
}
.footer-list-item-cell::before {
    content: " ";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: -13px;

    background-image: url(img/phone_icon_337.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-but {
    width: 140px;
    min-height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    text-transform: uppercase;
    color: #445162;
    display: flex;
    margin: 0 auto;
    padding: 5px 50px 5px 50px;
}

.footer-but:focus {
    border: 5px solid red;
}

.footer-but:hover {
    background-color: yellowgreen;
}

.form {
    width: 500px;
    /*height: 40px;*/
    background-color: #ffffff;
    margin: 0 0 11px 0;
    border-radius: 10px;
    font-family: ArialMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    outline: none;

}
.footer-img {
    padding-top: 25px;
}
.end-copy {
    text-align: center;
    color: #445162;
    padding-top: 10px;

}
input {
    display: block;
}